.App {
  text-align: center;
}

body {
  background-color: #282c34;
}

.Banner {
  height: 128px;
  width: 100%;
  background-color: #61dafb;
  text-align: center;
  font-variant: small-caps;
  font-family: fantasy;
  font-size: 64pt;
  padding-top: 10px;
  color: #282c34;
}

.ButtonContainer {
  display: flex;
  height: 100px;
  width: 600px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
  border-radius: 15px;
  box-shadow: 2px 5px 15px 5px #61dafb;
}

.PlayArea {
  display: flex;
  height: 500px;
  width: 800px;
  background-color: #282c34;
  margin: auto;
  margin-bottom: 100px;
  border-radius: 15px;
  box-shadow: 2px 5px 15px 5px #61dafb;
}

.MovingButton {
  height: 30px;
  width: 90px;
  background-color: #282c34;
  border-radius: 8px;
  border-color: rgb(241, 93, 234);
  color: rgb(241, 93, 234);
  font-family: fantasy;
  position: relative;
  top: 50%;
  left: 50%;
}

.MovingButton:hover {
  background-color: rgb(241, 93, 234);
  color: #282c34;
}

.Output {
  color: rgb(241, 93, 234);
  font-size: 64pt;
  font-family: fantasy;
  margin-top: 200px;
  position: relative;
  top: 0%;
  left: 50%;
}
